<launch>
	<param name="perception/robot_speech_silbot" value="False"/>
	<param name="perception/human_speech" value="False"/>
	<param name="perception/name" value=""/>
	<node name="audio_streamer" pkg="audio_streamer" type="audio_stream_from_mic.py" output="screen">
	</node>
	<node name="audio_signal_processor" pkg="audio_signal_processor" type="audio_signal_processor.py" output="screen">
	</node>
    <node name="stt_converter" pkg="speech_to_text_converter" type="stt_converter_v4.py" output="screen">
	</node>
    <node name="text_translator" pkg="text_translator" type="text_translator.py" output="screen">
	</node>
    <node name="feature_handler" pkg="feature_handler" type="text_normalizer.py" output="screen">
	</node>
    <node name="model_interfacer" pkg="model_interfacer" type="model_interfacer.py" output="screen">
	</node>
</launch>


