[submodule "audio_interface"]
	path = audio_interface
	url = https://github.com/hyeonukbhin/audio_interface.git
[submodule "text_based_pr"]
	path = text_based_pr
	url = https://github.com/hyeonukbhin/text_based_pr.git
